<launch>
    
    <param name="initial_pose_x" value="0.0" />
    <param name="initial_pose_y" value="0.0" />
    <param name="initial_pose_theta" value="0.0" />
    <param name="max_lin_vel" value="0.22" />
    <!-- <param name="max_lin_vel" value="0.5" /> -->
    <param name="max_ang_vel" value="1" />
    <!-- <param name="max_ang_vel" value="0.25" /> -->
    <param name="max_lin_acc" value="2.0" />
    <param name="max_ang_acc" value="2.5" />
    <param name="kp" value="1.0" />
    <param name="ki" value="0.0" />
    <param name="kd" value="0.0" />
    <param name="tf_lidar2base_x" value="-0.0125" />
    <param name="tf_lidar2base_y" value="0" />
    <param name="tf_lidar2base_theta" value="0.0" />
    <node name="robot_node" pkg="robot" type="robot_node" output="screen" respawn="true">
        <!-- <remap from="/robot/odom"       to="/odom"/> -->
        <!-- <remap from="/robot/cmd_vel"    to="/cmd_vel"/> -->
    </node>
    <include file="$(find device)/launch/device.launch" />
    <!-- <include file="$(find comm)/launch/comm.launch" /> -->

    <!-- <include file="$(find device)/launch/gazebo_publish.launch" /> -->
    <!-- <node name="joy_node" pkg="joy" type="joy_node" output="log" respawn="true"> -->
        <!-- <remap from="/joy" to="/device/joy"/> -->
        <!-- <remap from="/joy/set_feedback" to="/device/joy/set_feedback"/> -->
    <!-- </node> -->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter_node" clear_params="true" output="log">
        <rosparam command="load" file="$(find robot)/config/ekf.yaml"/>
        <remap from="/odometry/filtered" to="/robot/odom"/>
    </node>

</launch>