<launch>
    <node name="joy_node" pkg="joy" type="joy_node" output="log" respawn="true">
        <remap from="/joy" to="/device/joy"/>
        <remap from="/joy/set_feedback" to="/device/joy/set_feedback"/>
    </node>
    <node name="arduino" pkg="device" type="arduino" output="log" respawn="true" />
</launch>
